<div class="container" style="height: 100%;">
    <div class="center d-flex justify-content-center mt-5">
        <button class="btn btn-info main-btn mr-2" id="btn-manage" onclick="location.href='/Management/Index'">
        Przejdź do sekcji zarządzania bazą danych</button>
        <button class="btn btn-info main-btn ml-2" id="btn-statistic" onclick="location.href='/Statistic/Index'">
        Przejdź do sekcji statystyk</button>
    </div>
</div>

