@model List<Products>
<h4 class="mt-3">Lista produktów</h4>
<br />
<button class="btn btn-secondary mb-3 float-left" onclick="location.href='/Management/CreateProduct'">Dodaj nowy produkt</button>
<div class="dropdown float-left ml-2">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sortuj
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li class="dropdown-item pointer" id="btn-sortName">Po nazwie</li>
        <li class="dropdown-item pointer" id="btn-sortPrice">Po cenie</li>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ProductId</th>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Obraz</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.ProductId</td>
                <td>@p.Name</td>
                <td>@p.Price</td>
                <td><img src="@p.ImgUrl" style="max-width: 10%" /></td>
                <td>
                    <button class="btn btn-secondary" onclick="location.href='/Management/EditProduct/@p.ProductId'">Edytuj</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    //$("#btn-delete").click(function () {
    //    alert("Usunięto produkt");
    //});
    $("#btn-sortName").click(function () {
        $("#content").html("");
        $.get("ProductsSortName", function (data) { $("#content").html(data); })
    });
    $("#btn-sortPrice").click(function () {
        $("#content").html("");
        $.get("ProductsSortPrice", function (data) { $("#content").html(data); })
    });
</script>