<div class="container mt-3">
    <h4 class="d-flex justify-content-center">Potwierdzenie dodania produktu do bazy danych</h4>

    <p class="mt-3 d-flex justify-content-center">
        Nowy produkt automatycznie został dodany do magazynu z parametrem ilości równym 0.<br />
        Jeśli chcesz zmienić ilość produktu w magazynie, przejdź do sekcji "Zarządzaj magazynem"
    </p>
    <div class="d-flex justify-content-center">
        <button class="btn btn-info" onclick="location.href='/Management/Index'">Wróć do panelu zarządzania</button>
    </div>

</div>


