@model Products
<h2>Dodaj nowy produkt</h2>

<div class="container">
    <form asp-controller="Management" asp-action="CreateProduct">
        <label>Nazwa</label><input asp-for="Name" class="form-control mb-2" />
        <label>Cena</label><input asp-for="Price" class="form-control mb-2" />
        <label>Url obrazu</label><input asp-for="ImgUrl" class="form-control mb-2" />
        <input type="submit" id="btn-create" value="Zapisz" class="btn btn-info" />
    </form>
</div>