<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<div class="row">
    <div class="col-3">
        <h2>Index</h2>
        <button class="btn btn-info btn-list" id="btn-products">Zobacz wszystkie produkty</button>
        <button class="btn btn-info btn-list" id="btn-clients">Zobacz wszystkich klientów</button>
    </div>
    <div class="col-9" id="content"></div>

    <script type="text/javascript">
        $("#btn-products").click(function () {
            $("#content").html("");
            $.get("SeeAllProducts", function (data) { $("#content").html(data); })
        });
        $("#btn-clients").click(function () {
            $("#content").html("");
            $.get("SeeAllClients", function (data) { $("#content").html(data); })
        });
    </script>



